<% const title="Game" %>
<%- include('layout', { title, body: `
    <script src="/js/game.js" defer></script>
    <h2>War Game ${gameId}</h2>
    <div id="opponent"></div>
    <div id="battlefield">
      <div data-played-seat="0">-</div>
      <div data-played-seat="1">-</div>
    </div>
    <div id="me">
      <div></div>
      <button id="play-button" disabled>Play Top Card</button>
    </div>
    <template id="player-state-card">
      <div class="player-state">
        <div class="email"></div>
        <div class="card-count"><span></span> cards</div>
      </div>
    </template>
    <input type="hidden" id="GAME_ID" value="${gameId}" />
`, user }) %>